:root {
  --ifm-color-primary: #e53935;
  --ifm-color-primary-dark: #d32f2f;
  --ifm-color-primary-darker: #c62828;
  --ifm-color-primary-light: #ef5350;
  --ifm-color-primary-lighter: #ff6b6b;
  --ifm-code-font-size: 95%;
  --ifm-navbar-background-color: rgba(0,0,0,0.55);
  --ifm-footer-background-color: #0b0b0c;
}

.navbar { backdrop-filter: blur(10px); }
.footer__copyright { opacity: 0.8; }
